/* Element Reset */
html,
body{height:100%;margin:0;background:url(../img/bg_head.gif) repeat-x;font-family:Arial,Tahoma,Sans-serif;font-size:12px}
fieldset{margin:0;padding:0;border:0}
img{border:0}
a{text-decoration:none}
a:hover,
a:active,
a:focus{text-decoration:none!important}
/* faqTitle */
.faqTitle{overflow:hidden;margin:34px 0 12px;padding-left:10px;*zoom:1}
.faqTitle h2{float:left;margin:0 10px 0 0;color:#3a3a3a;font-size:18px}
.faqTitle p{float:left;margin:5px 0 0;padding:0;color:#9a9a9a}
#search{margin-bottom:20px;padding:20px 0 0;border:1px solid #4e4e4e;background:#6e6f6f}
#search .search_box{overflow:hidden;padding:0 0 19px 69px;background:url(../img/ico_search.gif) no-repeat 33px 6px;zoom:1}
#search .inputText{float:left;width:551px;height:25px;margin-right:4px;padding-left:8px;border:1px solid #525252;background:#fff;color:#797979;font-size:12px;line-height:25px}
#search .btn_search{float:left;width:71px;height:29px;border:none;background:url(../img/btn_search.gif) no-repeat;color:#fff;font-family:Arial;font-weight:bold;cursor:pointer}
/* notice */
.notice{overflow:hidden;margin:0 35px;background:url(../img/line_search.gif) repeat-x 0 0;zoom:1}
.notice h2{margin:0 0 10px;padding-left:10px;color:#3a3a3a;font-size:14px}
.notice .notice_lst{overflow:hidden;margin:0;padding:18px 0 14px;*zoom:1}
.notice .notice_lst li{float:left;width:18%;margin-bottom:5px;padding-left:10px;background:url(../img/bu_01.gif) no-repeat 0 50%;list-style:none}
.notice .notice_lst li a{float:left;color:#e2e2e2}
/* tab_list */
.tab_list ul{position:relative;margin:0;padding:0;border-bottom:1px solid #ccc;font-family:Tahoma, Sans-serif;font-size:12px;list-style:none;*zoom:1}
.tab_list ul:after{display:block;clear:both;content:''}
.tab_list li{float:left;margin-bottom:-1px}
.tab_list li a{float:left;position:relative;border:1px solid #e8e8e8;background:#f5f4f4;color:#666;text-decoration:none;border-bottom-color:#ccc}
.tab_list li a span{display:inline-block;padding:8px 25px;cursor:pointer}
.tab_list li ul{display:none;position:absolute;top:40px;left:0;width:100%;margin:0;padding:0;border:0;list-style:none;*zoom:1}
.tab_list li ul:after{display:block;clear:both;content:''}
.tab_list li li{float:none;position:relative;margin:0 0 8px;color:#999}
.tab_list li li a{float:none;margin:0;padding:0;border:0 !important;background:transparent;color:#666 !important;font-weight:normal;letter-spacing:normal}
.tab_list li li a:hover,
.tab_list li li a:active,
.tab_list li li a:focus{color:#000 !important;text-decoration:underline}
.tab_list li li.more{position:absolute;top:-30px;right:0;border:0 !important;background:transparent}
.tab_list.m1 .m1 a,
.tab_list.m2 .m2 a,
.tab_list.m3 .m3 a{margin-top:-1px;border:1px solid #bcbcbc;border-bottom:1px solid #fff;background:transparent;color:#333}
.tab_list.m1 .m1 a span,
.tab_list.m2 .m2 a span,
.tab_list.m3 .m3 a span{padding-top:9px;font-weight:bold}
.tab_list.m1 .m1 ul,
.tab_list.m2 .m2 ul,
.tab_list.m3 .m3 ul{display:block}
.tab_list li.t_num{float:right;position:absolute;right:18px;bottom:8px;color:#9f9f9f}
.tab_list li.t_num em{margin-left:4px;font-style:normal}
.faq_cont .faq_lst{overflow:hidden;margin:0;padding:0}
.faq_cont .faq_lst li{position:relative;padding:10px 0 11px 18px;border-bottom:1px solid #d7d7d7;background:url(../img/ico_q.gif) no-repeat 18px 12px;*zoom:1}
.faq_cont .faq_lst li .title{display:inline-block;width:630px;padding-left:22px;color:#9a9a9a}
.faq_cont .faq_lst li .btn_show{position:absolute;top:8px;_top:2px;right:7px;width:auto;padding:8px;vertical-align:middle}
.faq_cont .faq_lst li .a_cont{display:none;overflow:hidden;margin:11px 0 -11px -18px;padding:14px 39px 0;border:1px solid #dedede;border-bottom:0;background:#fafafa url(../img/ico_a.gif) no-repeat 18px 16px;color:#9a9a9a;zoom:1}
.faq_cont .faq_lst li.on .a_cont{display:block}
.faq_lst .a_cont h2{margin:0 0 20px;padding:0;font-size:12px;font-weight:normal}
.faq_lst .a_cont h3{margin:0 0 7px;padding:0;color:#7f7e7e;font-size:12px}
.faq_lst .a_cont p{margin:0 0 20px;padding:0;font-size:12px;font-weight:normal}
.faq_lst .a_cont .btn_del_mod{overflow:hidden;padding:0;text-align:right}
.faq_lst .a_cont .btn_del_mod a{padding:0}
/* top10 */
.faq_top10{margin:10px 0 0}
.faq_top10 .tit{height:29px;background:url(../img/top10_tit_bg.gif) no-repeat}
.faq_top10 .tit h2{display:inline;float:left;margin:0;margin-left:19px;color:#1983c1;font-size:12px;line-height:29px}
.faq_top10 .tit strong{margin-left:5px;color:#3a3a3a;line-height:29px}
.faq_top10 .list{overflow:hidden;margin:0;padding:16px;border:1px solid #ebebeb;border-top:0;*zoom:1}
.faq_top10 .list li{float:left;width:310px;*width:310px;height:24px;margin-right:16px;padding-left:22px;border-right:1px solid #eaeaea;color:#9a9a9a;line-height:24px;list-style:none}
.faq_top10 .list li.br0{border-right:0}
.faq_top10 .list li a{float:left;padding-left:26px;color:#9a9a9a}
.faq_top10 .list .num{background:url(../img/num_top10.gif) no-repeat}
.faq_top10 .list .t1{background-position:0 -2px}
.faq_top10 .list .t2{background-position:0 -26px}
.faq_top10 .list .t3{background-position:0 -50px}
.faq_top10 .list .t4{background-position:0 -74px}
.faq_top10 .list .t5{background-position:0 -98px}
.faq_top10 .list .t6{background-position:0 -125px}
.faq_top10 .list .t7{background-position:0 -149px}
.faq_top10 .list .t8{background-position:0 -173px}
.faq_top10 .list .t9{background-position:0 -197px}
.faq_top10 .list .t10{background-position:0 -221px}
.pagination{margin:25px 0 35px;text-align:center}
.pagination a,
.pagination strong{display:inline-block;position:relative;z-index:2;margin:0 -2px;padding:1px 8px;border-right:1px solid #d7d7d7;border-left:1px solid #d7d7d7;color:#3a3a3a;vertical-align:top}
.pagination strong{color:#1983c1}
.pagination .prevEnd{padding-left:9px;border:0;background:url(../img/ico_prevEnd.gif) no-repeat 0 50%}
.pagination .nextEnd{padding-right:9px;border:0;background:url(../img/ico_nextEnd.gif) no-repeat 100% 50%}
#content{width:738px!important}
